/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
}

.font-1 {
  color: #949fab;
}

.font-2 {
  color: rgb(73, 80, 87);
}

.font-inactive {
  opacity: 0.6;
}

.hoverable {
  position: relative;
  cursor: pointer;
  transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1);
}
.hoverable::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  transform: translate(-3px, -3px);
  border-radius: 6px;
  border: 3px solid #5fb5ff;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  pointer-events: none;
}
.hoverable:hover::after {
  opacity: 1;
}
.hoverable:active {
  transform: scale(0.98, 0.98);
}
.hoverable:not(.b-only):hover {
  transform: translateY(-10px);
}
